<a href="https://colab.research.google.com/github/gabrielbarros1010/BTE-320-Python/blob/main/In_class_assignments_Gabriel_Barros.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 # calculating the area of a cylynder
 radius = 4
 height = 8
 pi = 3.14
 area= 2*pi*radius**2+2*pi*radius*height
 print("Area=", area, "sq ft")

Area= 301.44 sq ft

In [ ]:
radius= int(input("radius"))
height= int(input("height"))
pi = 3.14
area= 2*pi*radius**2+2*pi*radius*height
print("Area=", area, "sq ft")

radius4
height8
Area= 301.44 sq ft

In [ ]:
n1= float(input("Please Provide First Number: "))
n2= float(input("Please Provide Second Number: "))
op= input("Please Provide Operator: (+,-,*,/,//,**,%): ")
if op == "+":
    print(n1+n2)
elif op == "-":
    print(n1-n2)
elif op == "*":
    print(n1*n2)
elif op == "/":
    print(n1/n2)
elif op == "//":
    print(n1//n2)
elif op == "**":
    print(n1**n2)
elif op == "%":
    print(n1%n2)
else:
    print("Invalid Operator")

Please Provide First Number: 10
Please Provide Second Number: 10
Please Provide Operator: (+,-,*,/,//,**,%): *
100.0

In [ ]:
for numberhours in range(1,9):
  fee = 5 + 2.5*numberhours
  print(numberhours, fee)
  if fee <10:
    fee = 10
  elif fee >20:
    fee = 20
  print(numberhours, fee)

1 7.5
1 10
2 10.0
2 10.0
3 12.5
3 12.5
4 15.0
4 15.0
5 17.5
5 17.5
6 20.0
6 20.0
7 22.5
7 20
8 25.0
8 20

In [ ]:
import math

print("Ads and Profit Relation")
for admoney in range(0,201,25):
  revenue = (20+2*round(math.sqrt(admoney)))*10
  costs = 200 + admoney
  profit = revenue - costs
  print(admoney, profit)

Ads and Profit Relation
0 0
25 75
50 90
75 105
100 100
125 95
150 90
175 85
200 80

In [ ]:
import random

play = input("do you want to play a game (yes/no): ")

while play == "yes":
  p1 = input("player 1 chose between rock paper or scissors: ")
  p2 = input("player 2 chose between rock paper or scissors: ")

  print(f"player chose {p1}; Computer chose {p2}")

  if p1 == p2:
    print("Tie")
  elif (p1 == "rock" and p2 == "scissors")or (p1 == "scissors" and p2 == "paper")or(p1 == "paper" and p2 == "rock"):
    print("player 1 wins")
  else:
    print("player 2 wins")
  play = input("do you want to play the game again? (yes/no): ")
print("good day ahead")

do you want to play a game (yes/no): yes
player 1 chose between rock paper or scissors: rock
player 2 chose between rock paper or scissors: paper
player chose rock; Computer chose paper
player 2 wins
do you want to play the game again? (yes/no): no
good day ahead

In [ ]:
n = int(input("Please enter a number: "))
L = [n]
while n == int>0:
  print(L[n])
  n = int(input("Please enter a number: "))
  if n == 0:
    print: [L.sort()]

Please enter a number: 2

In [ ]:
lst = []

num = float(input('Give a number: '))

while num != 0:
  lst.append(num)
  num = float(input('Give a number: '))
lst.sort(reverse=True)
print(lst)

Give a number: 2
Give a number: 5
Give a number: 56
Give a number: 7
Give a number: 5
Give a number: 0
[56.0, 7.0, 5.0, 5.0, 2.0]

In [ ]:
months = {}

names = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sept", "Oct", "Nov", "Dec"]
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

for idx in range(len(numbers)):
  months[numbers[idx]] = names[idx]
months

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sept',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

In [ ]:
months = {}

names = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sept", "Oct", "Nov", "Dec"]
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

cntr = 0
for num in numbers:
  months[num] = names[cntr]
  cntr += 1
months

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sept',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

In [ ]:
months = {}

names = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sept", "Oct", "Nov", "Dec"]
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

for num in numbers:
  months[num] = names[num-1]
months

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sept',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

counts = {}

while len(counts) < 5:
  key = input("give a string ")

  if key not in counts:
    counts[key] = 1
  else:
    counts[key] += 1
counts

In [6]:
def calcFee(hours):
  fee = 5 + 2.5 * hours
  if fee < 10:
    fee = 10
  elif fee > 20:
    fee = 20
  print(f"fee: {fee}$")

numHours = int(input("number of hours: "))
calcFee(numHours)

number of hours: 6
fee: 20.0$